@import "../../index.scss";

.login {
  padding: 2rem 2rem;

  .login-heading {
    font-size: $heading1;
  }

  .login-form {
    padding: 2em 0 0 0;
    label {
      display: block;
      font-size: 0.8rem;
      color: $blue;
    }

    .login-input {
      border-bottom: 1px solid $blue;
      margin-top: 0.25rem;
      margin-bottom: 1rem;
      input {
        width: 100%;
        margin-bottom: 0.25rem;
        border: none !important;
        padding: 0.25rem;
        font-weight: bold;
        &:focus {
          border: none;
        }
      }
    }

    .login-submit {
      display: block;
      text-align: center;
      background: $blue;
      border: none;
      color: white;
      width: 100%;
      padding: 0.5rem 0;
      border-radius: 2px;
      margin-top: 2rem;
    }
  }

  .login-or {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    margin-top: 2em;
  }

  .login-or span {
    background: #fff;
    padding: 0 10px;
  }

  .login-social{
      display: grid;
      grid-template-columns: 20% 20%;
      grid-column-gap: 60%;
      margin: 3rem 3rem 0 3rem;


      img{
          width: 100%;
          cursor: pointer;
      }
  }

  .login-register{
    text-align: center;
    margin-top: 3rem;
  }
}
